Ai agent with personal whatsapp.json
{
  "name": "Ai agent with personal whatsapp",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "399f46f0-be0e-4463-8a27-9140741d442f",
      "name": "When chat message received",
      "webhookId": "a2641c66-a3dd-4efa-9ce5-a5676270fdbc"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "eaa1cd39-a740-496d-80a8-c2130221c80d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        192
      ],
      "id": "4460c2de-de85-4b78-97d8-2ebfb0864a5a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "G5uDcxD0Xo1GCdMY",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1074379732428924",
        "recipientPhoneNumber": "+358413296191",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "e0ce89eb-9980-41f6-82fc-c6fe1ed818ab",
      "name": "Send message",
      "webhookId": "e2a240d4-16b4-4cac-94ad-ab9b2d528999",
      "credentials": {
        "whatsAppApi": {
          "id": "27PnVdpj1uu87Au9",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5e63cc40-7922-43ee-9769-9f623899cf96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1c3bb77d6e42e4f4974e39ad9acac972a2a2d5c3bfb8f8a6f735e9311391a18"
  },
  "id": "NvBBlRn5oSIpUzS9",
  "tags": []
}